[ShippingPier]
docker_api_host=127.0.0.1
docker_api_protocol=tcp
docker_api_port=2375
logging_level=INFO

[GantryCrane]

[ShippingContainer]
aws_notification_topic=arn:aws:sns:us-east-1:23232332332323233223:topic-id
nr_install_key=23423423423424234234323423423423424324

[DrupalShippingContainer]
admin_account_pass=admin
db_password=drupal
testing_tools=TRUE
mysql_root=root
mysql_port=3306

[MySQLShippingContainer]
mysql_root=root
mysql_port=3306
